"*":
  editor:
    fontFamily: "Monaco"
    fontSize: 18
    invisibles:
      cr: ""
      eol: ""
      tab: "⋈"
      space: "."
    lineHeight: 2
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "tree-view":
    hideIgnoredNames: true
